body {
  font-family: sans-serif;
  font-size: 16px;
  background: white;
  color: black;
  margin: 0px;
  padding: 0px;
  /*background: url("./assets/cat.jpg") no-repeat;*/
  background-position: left 90% top 90%;
  width: 100vw;
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
}

#app {
  padding: 24px;
  background: #fffe;
}

.screen {
  display: none;
  flex-direction: column;
}

.box {
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.hint {
  font-size: 12px;
  color: #444;
}

.logo {
  width: 128px;
  height: auto;
  border-radius: 50%;
}

input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  font-family: sans-serif;
}

input:focus {
  outline: 2px solid rgb(255, 115, 0);
  outline-offset: 2px;
}

#entry-file-name-box {
  display: none;
}

#entry-file-overwrite-warning {
  border: 8px solid red;
  display: none;
  border-radius: 8px;
  padding: 8px;
}

#entry-file-info {
  margin-top: 10px;
}

#main-ink-file-name-box {
  display: none;
}

#main-ink-file-info {
  margin-top: 10px;
}

#opening-project-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: #555;
  color: white;
  display: none;
  overflow: auto;
}

#warning {
  border: 8px solid #d00;
  padding: 16px;
  margin: 16px;
}

#new-template-displayer {
  max-height: 240px;
  overflow: auto;
  background: #ccc;
  margin-bottom: 16px;
}

.new-template-notify {
  background: #fff;
  color: #000;
  padding: 8px;
  border: 2px solid #555;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
}